# ignore folder(s)
/administrator/cache/
/cache/
/images/document_handler/upload/
/images/drawings/
/images/file_upload/
/images/pic/
/images/pics/
/logs/
/tmp/


# ignore file(s)
custom_agent.php
custom_agent_configs.php
custom_agent_functions.php

# Ignore configuration.php only in the root directory
/configuration.php

# Allow configuration.php files in subdirectories
!*/configuration.php